quant:
  wgts:
    dtype: sint4
    enable_low_rank: false
    group_shapes:
      - - 1
        - -1
        - -1
        - -1
        - -1
    scale_dtypes:
      - null
  ipts:
    static: false
    dtype: sint4
    group_shapes:
      - - 1
        - -1
        - -1
    scale_dtypes:
      - uexp8_nan
    allow_unsigned: true
  enable_smooth: true
  smooth:
    enable_proj: true
    proj:
      objective: OutputsError
      strategy: GridSearch
      granularity: Layer
      spans:
      - - AbsMax
        - AbsMax
      reverse: false
      alpha: 0.5
      beta: -2
      num_grids: 20
      allow_low_rank: false
      fuse_when_possible: false
      skips:
      - embed
      - resblock
      - transformer_proj_in
      - transformer_proj_out
      - transformer_norm
      - transformer_add_norm
      - down_sample
      - up_sample
pipeline:
  shift_activations: false