quant:
  enable_smooth: false
  wgts:
    dtype: sfp4_e2m1_all
    group_shapes:
    - - 1
      - -1
    - - 1
      - 32
      - 1
    scale_dtypes:
    - null
    - uexp8_nan
    enable_low_rank: false
  ipts:
    static: false
    dtype: sfp4_e2m1_all
    group_shapes:
    - - 1
      - 32
      - 1
    scale_dtypes:
    - uexp8_nan
  enable_extra_wgts: true
  extra_wgts:
    dtype: sint4
    group_shapes:
    - - 1
      - 64
      - 1
    scale_dtypes:
    - null
    includes:
    - transformer_norm
    - transformer_add_norm
