pipeline:
  name: sdxl-turbo
  dtype: torch.float32
eval:
  num_steps: 4
  guidance_scale: 0
  protocol: euler{num_steps}-g{guidance_scale}
  batch_size_per_gpu: 32
  # benchmarks:
  #   - "deepcompressor/dataset/MJHQ30KMETA.json"
quant:
  calib:
    batch_size: 32
  wgts:
    skips: 
    - embed
    - resblock_shortcut
    - resblock_time_proj
    - transformer_proj_in
    - transformer_proj_out
    - transformer_norm
    - transformer_add_norm
    - attn_add
    - ffn_add
    - down_sample
    - up_sample
  ipts:
    skips: 
    - embed
    - resblock_shortcut
    - resblock_time_proj
    - transformer_proj_in
    - transformer_proj_out
    - transformer_norm
    - transformer_add_norm
    - attn_add
    - ffn_add
    - down_sample
    - up_sample
