quant:
  enable_smooth: true
  smooth:
    enable_proj: true
    proj:
      objective: OutputsError
      strategy: GridSearch
      granularity: Layer
      spans:
      - - AbsMax
        - AbsMax
      alpha: 0.0
      beta: -2
      num_grids: 20
      allow_low_rank: false
      fuse_when_possible: false
      skips:
      - embed
      - resblock
      - transformer_proj_in
      - transformer_proj_out
      - transformer_norm
      - transformer_add_norm
      - down_sample
      - up_sample
  wgts:
    enable_low_rank: false
    dtype: sint4
    group_shapes:
    - - 1
      - 64
      - 1
    scale_dtypes:
    - null
  ipts:
    static: false
    dtype: sint8
    group_shapes:
    - - 1
      - 64
      - 1
    scale_dtypes:
    - null
    allow_unsigned: true
    enable_kernel_lzs: true
    kernel_lzs:
      bits: 4
      base: 8
      group_size: 32
pipeline:
  shift_activations: true