quant:
  enable_smooth: true
  smooth:
    enable_proj: true
    proj:
      objective: OutputsError
      strategy: GridSearch
      granularity: Layer
      spans:
      - - AbsMax
        - AbsMax
      reverse: true
      alpha: 0.0
      beta: -2
      num_grids: 20
      allow_low_rank: false
      fuse_when_possible: false
      skips:
      - embed
      - resblock
      - transformer_proj_in
      - transformer_proj_out
      - transformer_norm
      - transformer_add_norm
      - down_sample
      - up_sample